@import 'colors'

body
  color: #000000
  font-family: 'Montserrat', sans-serif !important
  font-size: 16px
 
.logo
  width: 100px

.grid-container
  padding-top: 2rem
  padding-bottom: 2rem

.bottom-text
  font-size: .8rem
  color: #000000
  text-align: center
  a
    color: #000000
    text-decoration: none
    &:hover
      color: #000000
      text-decoration: underline